@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url(assets/fonts/Lato-Light.woff2);
}
@font-face {
    font-family: Lato;
    font-weight: 400;
    src: url(assets/fonts/Lato-Regular.woff2);
}
@font-face {
    font-family: Lato;
    font-weight: 700;
    src: url(assets/fonts/Lato-Bold.woff2);
}
@font-face {
    font-family: Lato;
    font-weight: 900;
    src: url(assets/fonts/Lato-Heavy.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 10px;
}

.container {
  max-width: 102rem;

  margin: 0 auto;
}

.header {
  display: flex;
  height: 9.5rem;
  align-items: center;
  justify-content: space-between;

  padding: 0 4rem;

  background: #2d303a;
  border-bottom: .6rem solid #323746;
}

.header__logo {
  padding-top: .2rem;

  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #ffffff;
  letter-spacing: -0.005rem;
  text-transform: uppercase;
}

.header__link {
  color: inherit;
}

.header__logo-link:hover {
  color: inherit;
}

.header__logo-asterisk {
  color: #f06c64;
}

.main-menu {
  padding-top: 1.2rem;
  list-style-type: none;
}

.main-menu__item + .main-menu__item {
  margin-left: 2.6rem;
}

.main-menu__item {
  position: relative;

  display: inline-block;
}

.main-menu__item + .main-menu__item::before {
  position: absolute;
  top: 42%;
  left: -1.5rem;

  content: '';
  display: block;
  width: .2rem;
  height: .2rem;

  background: #494e62;
  border-radius: 50%;
}

.main-menu__link {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.2s;
}

.main-menu__link:hover,
.main-menu__link--active {
  color: #f06c64;
}

.slider {
  position: relative;

  height: 60rem;

  background: #f06c64;
  border-bottom: .6rem solid #ea676b;
}

.slider-nav__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);

  font-size: 0;

  background: transparent;
  border: none;
  cursor: pointer;

  transition: transform 0.2s;
}

.slider-nav__btn:hover {
  transform: scale(1.2) translateY(-50%);
}

.slider-nav__btn::before {
  display: block;
  content: url("assets/img/slider-nav-arrow.png");
}

.slider-nav__btn--next::before {
  transform: rotate(180deg);
}

.slider-nav__btn--prev {
  left: 4.3rem;
}
.slider-nav__btn--next {
  right: 4.1rem;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 11.2rem;
}

.device {
  position: relative;
  bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45.8rem;
  width: 21.5rem;

  background: #f2f2f2;
  border-radius: 2.6rem;
  box-shadow:
    2.5rem 2.5rem 0 #ce5d56,
    2rem 2rem 0 #ce5d56,
    1.5rem 1.5rem 0 #ce5d56,
    1rem 1rem 0 #ce5d56,
    0.5rem 0.5rem 0 #ce5d56;
}

.device__element {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.device__element--cam {
  top: 1.6rem;

  width: 1rem;
  height: 1rem;
}

.device__element--speaker {
  top: 3.6rem;

  width: 3.6rem;
  height: 0.5rem;
}

.device__element--home {
  bottom: 0.7rem;

  width: 4.5rem;
  height: 4.5rem;
}

.device--horizontal {
  transform:  rotate(90deg);
  right: 14.6rem;

  box-shadow:
    2.5rem -2.6rem 0 #ce5d56,
    2rem -2.1rem 0 #ce5d56,
    1.5rem -1.6rem 0 #ce5d56,
    1rem -1.1rem 0 #ce5d56,
    0.5rem -0.6rem 0 #ce5d56;
}

.device__background {
  position: absolute;
  top: 6.2rem;
  left: 50%;

  width: 18.8rem;
  height: 33.3rem;
  object-fit: cover;

  border-radius: 0.3rem;
  border: 0.3rem solid #c5c5c5;
  box-sizing: content-box;
  transform: translateX(-50%);
}

.services {
  padding: 6.2rem 4rem 6rem;

  background: #f2f2f2;
  border-bottom: .6rem solid #ffffff;
}

.services__block-title {
  margin-bottom: 1.7rem;

  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #666d89;
}

.services__block-desc {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  letter-spacing: -0.006rem;
}

.services-grid {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-column-gap: 2.2rem;
  grid-row-gap: 2.9rem;
  margin-top: 4.2rem;
}

.service-item {
  position: relative;

  padding-left: 8rem;
  overflow: hidden;
}

.service-item__icon {
  position: absolute;
  top: 0.4rem;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.9rem;
  height: 5.9rem;

  border: 0.2rem solid #666d89;
  border-radius: 50%;
}

.service-item__title {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #666d89;
  white-space: nowrap;
}

.service-item__text {
  margin-top: .8rem;

  text-align: justify;
  font-size: 1.2rem;
  line-height: 2.1rem;
  color: #767e9e;
}



